<app-order-contest [contestId]="contestId"></app-order-contest>

<div class="row">
  <div class="col-lg-12">
    <div
      *ngFor="let exam of exams"
      class="card cursor-pointer hover-shadow-wrapper"
    >
      <div class="card-header card-header-info">
        <h4 class="card-title">{{ exam.title }}</h4>
      </div>
      <div class="card-body">
        <mat-card-content>
          <div class="row">
            <div class="col-md-8">
              <b>Tổng số câu</b>: {{ exam.number_question }} <br>
              <b>Thời gian làm</b>: {{ exam.time }} (phút) <br>
              {{ exam.description}}
            </div>
            <div class="col-md-4">
              <button (click)="goToExam(exam)" class="btn btn-sm pull-right btn-primary" style="">
                Bắt đầu làm bài
              </button>
            </div>
          </div>
        </mat-card-content>
      </div>
    </div>
  </div>
</div>

