<mat-card class="mt-3 hover-shadow-wrapper question-item" [ngStyle]="selectedValue ? { 'background': '#f2f2f2' } : {}">
  <mat-card-title class="ck-content" style="display: flex; background: #ededed; margin: 10px 0; padding: 10px; font-size: 16px; font-weight: 100">
    {{ questionPrefix }}{{ questionNumber }}:&nbsp;<div [innerHTML]="question.title"></div>
  </mat-card-title>

  <mat-card-content>
    <form [formGroup]="form">
      <div
        style="padding-top: 5px"
        class="m-1 mat-background-primary mat-primary "
        *ngFor="let answerTitle of [question.answer_1,question.answer_2,question.answer_3,question.answer_4]; index as optionId; first as isFirst"
        [ngStyle]="(shouldShowAnswer() && (optionId + 1) === question.correct_answer) ? {'background-color': '#b7c9fb'} : {}"
      >
        <mat-checkbox
          (change)="answer($event)"
          [value]="(optionId + 1) + ''"
          formControlName="{{ 'answer_' + (optionId + 1) }}"
          class="example-margin">
          {{ answerTitle }}
        </mat-checkbox>
      </div>
    </form>

    <div style="padding: 5px" *ngIf="shouldShowAnswer()">
      <div style="margin: 10px 0" class="text-center">
        <button mat-raised-button
                color="{{ isCorrectAnswer() ? 'primary' : 'accent' }}"
                >
          {{ isCorrectAnswer() ? "Bạn đã trả lời Đúng!" : "Bạn đã trả lời Sai!" }}
        </button>
      </div>
      <div class="font-bold" *ngIf="isActiveOrder">
        {{ question.description ? question.description : "" }}
      </div>
      <div class="font-bold" *ngIf="!isActiveOrder">
        Giải thích: <span style="color: orangered">** Tài khoản miễn phí chỉ làm được 10 câu</span>
      </div>

    </div>
  </mat-card-content>
</mat-card>
