<footer class="bg-success-gradient position-relative overflow-hidden footer-bg" style="padding-top: 20px; font-size: 20px; margin-top: 10px">
  <div class="container">
    <div class="row position-relative">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="pb-2 pt-2 font-title-soft text-white my-8 font-bold"><b>TRUNG TÂM ĐÀO TẠO VÀ TƯ VẤN ÔN THI CÔNG CHỨC</b></div>
        <div class="link-footer-info text-white my-2" style="display: flex">
          <i class="material-icons">phone</i><a href="tel:+0376.68.68.55" class="text-white">&nbsp; Hỗ trợ: 0376.68.68.55</a>
        </div>
        <div class="link-footer-info text-white my-2" style="display: flex">
          <i class="material-icons">email</i><a href="mailto:hotro@thicongchuc.org" class="text-white">&nbsp; hotro@thicongchuc.org</a>
        </div>
        <div class="link-footer-info text-white my-2" style="display: flex">
          <i class="material-icons">location_on</i> &nbsp; 49/50 Mễ Trì Thượng, Nam Từ Liêm, Hà Nội
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="pb-2 pt-2 font-title-soft text-white my-8 font-bold"><b>THÔNG TIN THANH TOÁN</b></div>
        <div class="text-white my-2">
          <span class="font-title-soft"><b>Người hưởng thụ: </b>Trịnh Thị Liên </span>
        </div>
        <div class="text-white my-2">
          <span class="font-title-soft"><b>STK:</b> 007704060063627</span>
        </div>
        <div class="text-white my-2">
          <span class="font-title-soft"><b>Ngân hàng:</b> VIB - Ngân hàng Quốc Tế VIB</span>
        </div>
      </div>
    </div>
    <div class="text-center text-white" style="padding: 10px 0"> Copyright © Since 2020 Pham Khien, All rights reserved </div>
  </div>
</footer>
