<app-order-contest *ngIf="contest" [contest]="contest"></app-order-contest>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-8 col-md-6">
        <app-part-item [part]="currentPart"></app-part-item>
      </div>

      <div class="col-lg-4 col-md-6">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let parentPart of parentParts">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ parentPart.title }}
              </mat-panel-title>
              <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list-item *ngFor="let part of parentPart.children; last as last">
              <div style="display: flex" (click)="selectPart(part.id)">
                <mat-checkbox
                  class="small">
                  <div class="cursor-pointer">{{ part.title }}</div>
                </mat-checkbox>
              </div>
            </mat-list-item>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>



