<div class="row">
  <div *ngFor="let contest of contests; index as i; first as isFirst" class=" col-lg-4 col-md-6">
    <div class="card card-product hover-shadow-wrapper cursor-pointer {{ contest.isActive ? '' : 'disabled-bg-color'}}"
         (click)="goToContest(contest)">
      <div class="card-header card-header-image" data-header-animation="true">
        <img class="img" src="https://i.ibb.co/tmNWb9J/card-2.jpg" alt="">
      </div>
      <div class="card-body">
        <div class="card-actions">
        </div>
        <h3 class="card-title">
          {{ contest.title }}
        </h3>
        <div class="card-description">
          {{ contest.description }}
        </div>
      </div>
      <div class="card-footer">
        <div class="price">
          <h4>
            <del>{{ contest.price.toLocaleString('it-IT', {style: 'currency', currency: 'VND'}) }}</del>
          </h4>
        </div>
        <div class="price pull-right">
          <h4>{{ contest.sale_price
            ? contest.sale_price.toLocaleString('it-IT', {style: 'currency', currency: 'VND'})
            : "Miễn phí"}}
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
