<!--<app-order-contest [contest]="contest"></app-order-contest>-->

<div class="row row-space">
  <div *ngFor="let subject of subjects; index as i; first as isFirst"
       class="col-lg-6 col-md-6 col-sm-12 cursor-pointer">
    <div class="card card-stats hover-shadow-wrapper" (click)="goToSubject(subject)">

      <div *ngIf="i === 0" class="card-header card-header-icon card-header-primary">
        <div class="card-icon" data-header-animation="true">
          <i class="material-icons">track_changes</i>
        </div>
        <h4 class="card-title">{{ subject.title}}</h4>
      </div>
      <div *ngIf="i === 1" class="card-header card-header-icon card-header-warning">
        <div class="card-icon" data-header-animation="true">
          <i class="material-icons">task_alt</i>
        </div>
        <h4 class="card-title">{{ subject.title}}</h4>
      </div>
      <div *ngIf="i === 2" class="card-header card-header-icon card-header-success">
        <div class="card-icon" data-header-animation="true">
          <i class="material-icons">stars</i>
        </div>
        <h4 class="card-title">{{ subject.title}}</h4>
      </div>
      <div *ngIf="i === 3" class="card-header card-header-icon card-header-info">
        <div class="card-icon" data-header-animation="true">
          <i class="material-icons"></i>
        </div>
        <h4 class="card-title">{{ subject.title}}</h4>
      </div>

      <div class="card-body">
        <div class="card-description">
          {{ subject.description }}
        </div>
      </div>
    </div>
  </div>
</div>

<app-post-list typeId="2" creatableId="{{ contestId }}">
</app-post-list>
