<header class="h-30 bg-accent header-shadow">
  <nav class="container">
    <button style="font-size: 30px; height: 70px"
      class="pull-left mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base ng-star-inserted cursor-pointer"
      tabindex="0" aria-disabled="false" routerLink="/">
      <span class="mat-button-wrapper" style="color: yellow; font-weight: bold;">ThiCongChuc.Org</span>
      <span class="mat-ripple mat-button-ripple"></span>
      <span class="mat-button-focus-overlay"></span>
    </button>

<!--    <button *ngIf="!isLogged" routerLink="/dang-nhap" class="btn pull-right btn-primary" style="margin-top: 16px; font-size: 14px">-->
<!--      Đăng nhập-->
<!--    </button>-->
<!--    <button *ngIf="isLogged" routerLink="/dang-xuat" class="btn pull-right btn-primary" style="margin-top: 16px; font-size: 14px">-->
<!--      Đăng XUAT-->
<!--    </button>-->
  </nav>
</header>
