<header class="h-30 bg-accent header-shadow">
  <nav class="container">
    <a style="margin-top: 16px; font-size: 16px"
      class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base ng-star-inserted"
      tabindex="0" aria-disabled="false" routerLink="/contests">
      <span class="mat-button-wrapper">ThiCongChuc.Org</span>
      <span class="mat-ripple mat-button-ripple"></span>
      <span class="mat-button-focus-overlay"></span>
    </a>

    <button routerLink="/dang-nhap" mat-raised-button color="primary" class="btn pull-right" style="margin-top: 16px; font-size: 14px">
      Đăng nhập
    </button>
  </nav>
</header>
