<mat-card class="mt-3 hover-shadow-wrapper">
  <mat-card-title style="background: #ededed; margin: 10px 0; padding: 10px; font-size: 16px; font-weight: 100">
    {{ questionNumber }}: {{ question.title }}
  </mat-card-title>

  <mat-card-content>
      <app-question-item *ngFor="let question of question.children; index as i; first as isFirst"
                         [question]="question"
                         [questionNumber]=" i + 1"
                         [questionPrefix]="questionNumber + '.'"
                         [canShowAnswer]="showAnswer"
                         [examId]="examId"
                         [result]="result"
                         [forceShowAnswer]="forceShowAnswer"
      ></app-question-item>
  </mat-card-content>
</mat-card>

