//@import '~tailwindcss/base';
//@import '~tailwindcss/components';
//@import '~tailwindcss/utilities';

@layer base {
  @import '01-base/variables.scss';
  @import '01-base/theming.scss';
  @import '01-base/font.scss';
  @import '01-base/document.scss';
  @import '01-base/headings.scss';
}

@layer components {
  @import '02-components/button.scss';
}

@layer utilities {
  @import '03-utilities/animations.scss';
  @import '03-utilities/link.scss';
  @import '03-utilities/shapes.scss';
}

@import "08-material/material-dashboard.css";
@import "@angular/material/prebuilt-themes/indigo-pink.css";

@import "~ng-snotify/styles/material";

/*--------------------------------------------------------------------------------------------------------------------*/

button:focus {
  outline: none !important;
}
.mat-checkbox-label {
  white-space: normal;
}
label {
  color: #1d1c1c !important;
}
.hover-shadow-wrapper:hover {
  -webkit-box-shadow: 0 0 22px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 22px -6px rgba(0,0,0,0.75);
  box-shadow: 0 0 22px -6px rgba(0,0,0,0.75);
}
.mat-paginator {
  color: rgb(0 0 0);
}
.app {
  background-color: #c9d7e9;
}
header {
  background: linear-gradient(45deg, #77c92f 0%, #177e16 100%);
}
.cursor-pointer {
  cursor: pointer;
}

.disabled-bg-color {
  background: #989898;
}

.question-item label {
  font-weight: 100;
}
