<div class="row">

  <div class="col-lg-8 col-md-6">
    <div *ngFor="let section of sections; index as i; first as isFirst" class="card"
         routerLink="/sections/{{ section.id }}/questions">
      <div class="card-header card-header-text" data-background-color="orange">
        <h4 class="card-title">{{ section.title }}</h4>
        <p class="category">New employees on 15th September, 2016</p>
      </div>
      <div class="card-content table-responsive">
        <mat-card-content>{{ section.description}}</mat-card-content>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6">
    <div class="row"><h2>hello</h2></div>
    <div class="row"><h2>hi</h2></div>
  </div>

</div>
