<div class="row">

  <div class="col-lg-8 col-md-6">
    <div *ngFor="let section of sections; index as i; first as isFirst" class="card cursor-pointer hover-shadow-wrapper"
         routerLink="/sections/{{ section.id }}/questions">

      <div *ngIf="i === 0" class="card-header card-header-text" data-background-color="orange">
        <h4 class="card-title">{{ section.title }}</h4>
        <p class="category">New employees on 15th September, 2016</p>
      </div>
      <div *ngIf="i === 1" class="card-header card-header-text" data-background-color="rose">
        <h4 class="card-title">{{ section.title }}</h4>
        <p class="category">New employees on 15th September, 2016</p>
      </div>
      <div *ngIf="i === 2" class="card-header card-header-text" data-background-color="green">
        <h4 class="card-title">{{ section.title }}</h4>
        <p class="category">New employees on 15th September, 2016</p>
      </div>
      <div *ngIf="i >= 3" class="card-header card-header-text" data-background-color="red">
        <h4 class="card-title">{{ section.title }}</h4>
        <p class="category">New employees on 15th September, 2016</p>
      </div>

      <div class="card-content table-responsive">
        <mat-card-content>{{ section.description}}</mat-card-content>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6">
    <div class="row"><h2><img src="https://onthicongchuc.org/img/course-online.png" alt=""></h2></div>
    <div class="row"><h2><img src="https://onthicongchuc.org/img/banner-img.png" alt=""></h2></div>
  </div>

</div>
