<ng-container *ngIf="isLoggedIn$ | async; else notAuthorized">
  <app-header></app-header>
  <div class="container" style="padding-top: 25px; min-height: 500px">
    <div class="main-content">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</ng-container>

<ng-template #notAuthorized>
  <router-outlet></router-outlet>
</ng-template>

<app-loading-screen
  [ngClass]="loadingScreenComponent.isLoading ? 'app__main-spinner' : ''" #appMainSpinner
></app-loading-screen>

<ng-snotify></ng-snotify>
