<footer class="py-5 bg-success-gradient position-relative overflow-hidden footer-bg" style="font-size: 20px; margin-top: 25px">
  <div class="container">
    <div class="row position-relative">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="font-title-soft text-white text-3xl my-12 font-bold">TRUNG TÂM ĐÀO TẠO VÀ TƯ VẤN ÔN THI CÔNG CHỨC</div>
        <div class="link-footer-info text-white my-4" style="display: flex">
          <i class="material-icons">phone</i><a href="tel:+0961123594" class="text-white"> Kinh doanh: 0961 123 594</a>
        </div>
        <div class="link-footer-info text-white my-4" style="display: flex">
          <i class="material-icons">email</i><a href="mailto:kinhdoanh@thicongchuc.org" class="text-white">kinhdoanh@thicongchuc.org</a>
        </div>
        <div class="link-footer-info text-white my-4" style="display: flex">
          <i class="material-icons">phone</i><a href="tel:+0979903200" class="text-white"> Hotline: 0979 903 200</a>
        </div>
        <div class="link-footer-info text-white my-4" style="display: flex">
          <i class="material-icons">email</i><a href="mailto:admin@thicongchuc.org" class="text-white">admin@thicongchuc.org</a>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="font-title-soft text-white text-3xl my-12 font-bold">THÔNG TIN THANH TOÁN</div>
        <div class="text-white my-4">
          <span class="font-title-soft">Người hưởng thụ</span>
          Phạm Công Khiên
        </div>
        <div class="text-white my-4">
          <span class="font-title-soft">MST:</span>
          3300510511 do Phòng Đăng Ký Kinh
          Doanh Sở Kế Hoạch và Đầu Tư Tỉnh
          Thừa Thiên Huế cấp ngày 07/11/2008
        </div>
      </div>
    </div>
    <div class="text-center text-white" style="padding: 20px 0"> Copyright © Since 2020 Pham Khien, All rights reserved </div>
  </div>
</footer>
