<footer class="py-5 bg-success-gradient position-relative overflow-hidden footer-bg" style="font-size: 20px; margin-top: 10px">
  <div class="container">
    <div class="row position-relative">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="font-title-soft text-white my-8 font-bold"><b>TRUNG TÂM ĐÀO TẠO VÀ TƯ VẤN ÔN THI CÔNG CHỨC</b></div>
        <div class="link-footer-info text-white my-2" style="display: flex">
          <i class="material-icons">phone</i><a href="tel:+0376.68.68.55" class="text-white"> Kinh doanh: 0376.68.68.55</a>
        </div>
        <div class="link-footer-info text-white my-2" style="display: flex">
          <i class="material-icons">email</i><a href="mailto:kinhdoanh@thicongchuc.org" class="text-white">kinhdoanh@thicongchuc.org</a>
        </div>
        <div class="link-footer-info text-white my-2" style="display: flex">
          <i class="material-icons">phone</i><a href="tel:+0979903200" class="text-white"> Hotline: 0979 903 200</a>
        </div>
        <div class="link-footer-info text-white my-2" style="display: flex">
          <i class="material-icons">email</i><a href="mailto:admin@thicongchuc.org" class="text-white">admin@thicongchuc.org</a>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="font-title-soft text-white my-8 font-bold"><b>THÔNG TIN THANH TOÁN</b></div>
        <div class="text-white my-2">
          <span class="font-title-soft">Người hưởng thụ</span>
          Trịnh Thị Liên
        </div>
        <div class="text-white my-2">
          <span class="font-title-soft">MST:</span>
          3300510511 do Phòng Đăng Ký Kinh
          Doanh Sở Kế Hoạch và Đầu Tư Tỉnh
          Thừa Thiên Huế cấp ngày 07/11/2008
        </div>
      </div>
    </div>
    <div class="text-center text-white" style="padding: 10px 0"> Copyright © Since 2020 Pham Khien, All rights reserved </div>
  </div>
</footer>
