<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="card" *ngIf="true">
      <div class="card-body">
        <div class="text-center">
          <button (click)="toggleForm()" mat-raised-button="" type="button" mattooltip="Đăng ký"
                  class="btn btn-primary"><span
            class="mat-button-wrapper"><i class="material-icons">shopping_cart</i></span>
            {{ contest.isFree ? 'Đăng ký miễn phí' : 'Đăng ký' }}
          </button>
        </div>

        <div *ngIf="shouldShowForm">
          <ul class="timeline timeline-simple">
            <li class="timeline-inverted">
              <div class="timeline-badge danger">1</div>
              <div class="timeline-panel">
                <div class="timeline-heading"><span class="badge badge-danger">Đăng nhập</span></div>
                <div class="timeline-body row">
                  <div *ngIf="!authService.isInvalidToken() && user">
                    <p>Chào <b>{{ user.name }}</b>, bạn đã đăng nhập thành công!</p>
                  </div>
                  <div *ngIf="authService.isInvalidToken()">
                    <div class="col-md-6">
                      <button mat-raised-button class="btn btn-facebook">
                        <i class="fa fa-facebook-square"></i> &nbsp; Đăng nhập với Facebook
                      </button>
                    </div>
                    <div class="col-md-6">
                      <button mat-raised-button class="btn btn-google">
                        <i class="fa fa-google-plus"></i> &nbsp; Đăng nhập với Google
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li class="timeline-inverted">
              <div class="timeline-badge success">2</div>
              <div class="timeline-panel">
                <div class="timeline-heading"><span class="badge badge-success">Thanh Toán</span></div>
                <div class="timeline-body">
                  <p>{{ contest.isFree ? 'Miễn phí' : 'Vui lòng thanh toán' }}</p>
                </div>
              </div>
            </li>

            <li class="timeline-inverted">
              <div class="timeline-badge info">3</div>
              <div class="timeline-panel">
                <div class="timeline-heading"><span class="badge badge-info">Ghi chú</span></div>
                <div class="timeline-body">
                  <form [formGroup]="form">
                    <mat-form-field appearance="outline">
                      <input
                        formControlName="note"
                        matInput placeholder="Vui lòng nhập Họ Tên và Số Điện Thoại">
                    </mat-form-field>
                  </form>
                </div>
              </div>
            </li>
          </ul>

          <div class="text-center">
            <button (click)="register()" [disabled]="!form.valid" mat-raised-button color="primary" class="text-center">Đăng ký</button>
            &nbsp; &nbsp;
            <button (click)="hideForm()" mat-raised-button color="default" class="text-center">Hủy</button>
          </div>
        </div>
      </div>
    </div>

<!--    <div class="card" *ngIf="isInactive">-->
<!--      <div class="card-body text-center">-->
<!--        <p class="btn btn-primary">-->
<!--          Hệ thống đang xử lý yêu cầu đăng ký mua khóa học của bạn-->
<!--        </p>-->
<!--      </div>-->
<!--    </div>-->

    <div class="card" *ngIf="isActive">
      <div class="card-body text-center">
        <p class="btn btn-primary">
          Bạn đã mua khóa học thành công và có thể dùng toàn bộ tính năng của khóa học này
        </p>
      </div>
    </div>

  </div>
</div>
