<div class="row">
  <div class="col-md-12 ml-auto mr-auto">
    <div class="card card-login card-hidden hover-shadow-wrapper">
      <div class="card-header text-center" data-background-color="green">
        <h4 class="card-title">Đăng nhập</h4>
        <hr>
      </div>
      <div class="card-content text-center">
        <div class="col-md-12" (click)="signInWithFacebook()">
          <button mat-raised-button class="btn btn-facebook">
            <i class="fa fa-facebook-square"></i> &nbsp; Đăng nhập với Facebook
          </button>
        </div>
        <div class="col-md-12" (click)="signInWithGoogle()">
          <button mat-raised-button class="btn btn-google">
            <i class="fa fa-google-plus"></i> &nbsp; Đăng nhập với Google &nbsp;
          </button>
        </div>
      </div>
      <div class="footer text-center">
        <div class="col-md-12">
          <p>ThiCongChuc.Org</p>
          <a href="https://thicongchuc.org/bai-viet/general/policy-37" target="_blank">Điều khoản (Privacy policy)</a>
        </div>
      </div>
    </div>
  </div>
</div>
